.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 78px;
  width: 100%;
  padding-right: 3rem;
  background-color: #171717;
  color: white;
  box-sizing: border-box;

  /* ✅ เพิ่มเส้นขอบด้านล่าง */
  border-bottom: 1px solid #3f3f3f; 
  font-family: 'Encode Sans Semi Condensed', sans-serif;

  position: sticky; /* 1. สั่งให้มัน "ติด" */
  top: 0;           /* 2. ติดที่ "ขอบบนสุด" ของจอ */
  z-index: 50;      /* 3. สั่งให้มันอยู่ "เหนือ" เนื้อหาอื่น (z-index 50) */
}

.leftGroup {
  display: flex;
  align-items: center;
  height: 100%;
}

.navLink {
  color: #ffffff;
  text-decoration: none;
  font-size: 0.95rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 100%;
  border-right: 1px solid #3f3f3f;

  /* ✅ ทำให้ปุ่มดูเต็ม */
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 0;;

  /* ✅ ลื่นขึ้น */
  transition: all 0.25s ease;

  font-family: 'Encode Sans Semi Condensed', sans-serif;
  font-weight: 500;
}

.navLink:last-child {
  border-right: none;
}

/* Hover */
.navLink:hover {
  color: white;
  background: #1F41FF; /* เบาแต่ชัด */
  backdrop-filter: blur(4px); /* เพิ่มมิติ */
}
.logo {
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Encode Sans Semi Condensed', sans-serif;
}

.profileIcon {
  width: 20px;
  height: 20px;
}
